<ol class="bread">
  <li><a role="button" ui-sref="index">首页</a></li>
  <li class="bread-arrow">&gt;</li>
  <li><span>选项</span></li>
  <li class="bread-arrow">&gt;</li>
  <li class="active">编辑运单模板</li>
</ol>
<div class="content-main-title">
  <div class="title">编辑运单模板</div>
  <div class="pull-right">
    <button class="btn btn-default" ng-click="save()">
      保存
    </button>
    <button class="btn btn-default" ng-click="cancel()">
      返回列表
    </button>
  </div>
</div>
<div class="content-main-body">
  <div class="content-main-body-bill row">
    <!--line-1  start -->
    <div class="row">
      <div class="line-left line-left-1">
        <div class="line-left-1-1">
          <div class="line-left line-left-1-1-1">
            Shipper's Name and Address*
            <div class="line-left-1-1-1-2">
              <i class="i-search" ng-click="searchUser('1', '0')"></i>
              <i class="i-save fr" ng-click="saveUser('1', '0')"></i>
            </div>
          </div>
          <div class="line-left-1-1-2">
            Shipper's Account Number
            <input type="text" class="form-control" ng-model="billObj.spAccountNumber" maxlength="14" ylx-cursor my-on-change="changeNum('spAccountNumber')">
          </div>
        </div>
        <div class="line-left-1-2">
          <div class="line-row">
            <input type="text" class="form-control" placeholder="Name" ng-model="billObj.spName" maxlength="70" ylx-cursor my-on-change="changeText('spName')">
          </div>
          <div class="line-row">
            <input type="text" class="form-control" placeholder="Address" ng-model="billObj.spAddress" maxlength="70" ylx-cursor my-on-change="changeText('spAddress')">
          </div>
          <div class="line-row">
            <input type="text" class="form-control line-row-1-1" placeholder="Zipcode" ng-model="billObj.spZipcode" maxlength="9" ylx-cursor my-on-change="changeText1('spZipcode')">
            <input type="text" class="form-control line-row-1-1" placeholder="City" ng-model="billObj.spCity" maxlength="17" ylx-cursor my-on-change="changeText('spCity')">
            <input type="text" class="form-control line-row-1-1" placeholder="State" ng-model="billObj.spState" maxlength="9" ylx-cursor my-on-change="changeText('spState')">
            <div ui-select ng-model="billObj.spCountry" theme="select2" class="form-control line-row-1-2">
              <div ui-select-match placeholder="" allow-clear="true">{{$select.selected.countryCode}}</div>
              <div ui-select-choices repeat="item in countryData | filter: {countryCode:$select.search}">
                <div ng-bind-html="item.countryCode | highlight: $select.search"></div>
              </div>
            </div>
          </div>
          <div class="line-row">
            <input type="text" class="form-control line-row-1-3" placeholder="Tel" ng-model="billObj.spTel" maxlength="25" ylx-cursor my-on-change="changeNum12('spTel')">
            <input type="text" class="form-control line-row-1-3" placeholder="Fax" ng-model="billObj.spFax" maxlength="25" ylx-cursor my-on-change="changeNum12('spFax')">
          </div>
        </div>
      </div>
      <div class="line-right line-right-2">
        <div class="line-right-1-1">
          <div class="line-right-1-1-1">
            <div class="text1">Not Negotiable</div>
            <div class="text2">AIR WAYBILL</div>
            <div class="text1">Issued by</div>
          </div>
          <div class="line-right-1-1-2">
            <textarea class="form-control" rows="3" ng-model="billObj.issuedBy" maxlength="500" ylx-cursor my-on-change="changeText('issuedBy')"></textarea>
          </div>
        </div>
        <div class="line-right-1-2">
          Copies 1,2 and 3 of this Air Waybill are originals and have the same validity.
        </div>
      </div>
    </div>
    <!-- line-1 end -->
    <!-- line-2 start -->
    <div class="row">
      <div class="line-left line-left-2">
        <div class="line-left-2-1">
          <div class="line-left line-left-2-1-1">
            Consignee's Name and Address*
            <div class="line-left-2-1-1-2">
              <i class="i-search dib" ng-click="searchUser('0', '0')"></i>
              <i class="i-save dib fr" ng-click="saveUser('0', '0')"></i>
            </div>
          </div>
          <div class="line-left-2-1-2">
            Consignee's Account Number
            <input type="text" class="form-control" ng-model="billObj.csAccountNumber" maxlength="14" ylx-cursor my-on-change="changeNum('csAccountNumber')">
          </div>
        </div>
        <div class="line-left-2-2">
          <div class="line-row">
            <input type="text" class="form-control" placeholder="Name" ng-model="billObj.csName" maxlength="70" ylx-cursor my-on-change="changeText('csName')">
          </div>
          <div class="line-row">
            <input type="text" class="form-control" placeholder="Address" ng-model="billObj.csAddress" maxlength="70" ylx-cursor my-on-change="changeText('csAddress')">
          </div>
          <div class="line-row">
            <input type="text" class="form-control line-row-1-1" placeholder="Zipcode" ng-model="billObj.csZipcode" maxlength="9" ylx-cursor my-on-change="changeText1('csZipcode')">
            <input type="text" class="form-control line-row-1-1" placeholder="City" ng-model="billObj.csCity" maxlength="17" ylx-cursor my-on-change="changeText('csCity')">
            <input type="text" class="form-control line-row-1-1" placeholder="State" ng-model="billObj.csState" maxlength="9" ylx-cursor my-on-change="changeText('csState')">
            <div ui-select ng-model="billObj.csCountry" theme="select2" class="form-control line-row-1-2">
              <div ui-select-match placeholder="" allow-clear="true">{{$select.selected.countryCode}}</div>
              <div ui-select-choices repeat="item in countryData | filter: {countryCode:$select.search}">
                <div ng-bind-html="item.countryCode | highlight: $select.search"></div>
              </div>
            </div>
          </div>
          <div class="line-row">
            <input type="text" class="form-control line-row-1-3" placeholder="Tel" ng-model="billObj.csTel" maxlength="25" ylx-cursor my-on-change="changeNum12('csTel')">
            <input type="text" class="form-control line-row-1-3" placeholder="Fax" ng-model="billObj.csFax" maxlength="25" ylx-cursor my-on-change="changeNum12('csFax')">
          </div>
        </div>
      </div>
      <div class="line-right line-right-2">
        <div class="line-right-2-1">
          It is agreed that the goods described herein are accepted in apparent good order and condition (except as noted) for carriage
          SUBJECT TO THE CONDITIONS OF CONTRACT ON THE REVERSE HEREOF, ALL GOODS MAY BE CARRIED BY ANY OTHER MEANS. INCLUDING
          ROAD OR ANY OTHER CARRIER UNLESS SPECIFIC CONTRARY INSTRUCTIONS ARE GIVEN HEREON BY THE SHIPPER. THE SHIPPER’S
          ATTENTION IS DRAWN TO THE NOTICE CONCERNING CARIER’S LIMITATION OF LIABILITY.Shipper may increase such limitation
          of liability by declaring a higher value of carriage and paying a supplemental charge if required. INSURANCE-If
        </div>
      </div>
    </div>
    <!-- line-2 end-->
    <!-- line-3 start-->
    <div class="row">
      <div class="line-left line-left-3">
        <div class="line-left-3-1">
          <div class="line-left-3-1-1">
            Issuing Carrier’s Agent Name and City
          </div>
          <div class="line-left-3-1-2 line-row">
            <input type="text" class="form-control line-row-3-1 line-row-3-1-1-1" placeholder="NAME" ng-model="billObj.agentName" maxlength="35" ylx-cursor my-on-change="changeText('agentName')">
            <div class="form-control line-row-1 line-row-3-1-1-2" ng-if="billObj.agentPartIdentifier">{{billObj.agentPartIdentifier}}</div>
            <input type="text" class="form-control line-row-1 pull-right line-row-3-1-1-3" placeholder="CITY" ng-model="billObj.agentCity" maxlength="17" ylx-cursor my-on-change="changeText('agentCity')">
          </div>
        </div>
        <div class="line-left-3-2">
          <div class="line-left-3-2-1">
            <div class="line-left-3-2-1-1">
              Agents IATA Code
            </div>
            <div class="line-left-3-2-1-2 line-row">
              <input type="text" class="form-control line-row-3-2" placeholder="CODE" ng-model="billObj.agentIataCode" maxlength="7" ylx-cursor my-on-change="changeNum('agentIataCode')">
              <input type="text" class="form-control line-row-3-2" placeholder="CASS NUMBER" ng-model="billObj.agentCassAddress" maxlength="4" ylx-cursor my-on-change="changeNum('agentCassAddress')">
            </div>
          </div>
          <div class="line-left-3-2-2">
            <div class="line-left-3-2-2-1">
              Account No.
            </div>
            <div class="line-left-3-2-2-2 line-row">
              <input type="text" class="form-control" ng-model="billObj.accountNo" maxlength="14" ylx-cursor my-on-change="changeText('accountNo')">
            </div>
          </div>
        </div>
        <div class="line-left-3-3">
          <div class="line-left-3-3-1">
            Airport of Departure(Add. of First Carrier) and Requested Routing
          </div>
          <div class="line-left-3-3-2 line-row">
            <div ui-select ng-model="billObj.dept" theme="select2" class="form-control line-row-1" on-select="onSelectDept($item)">
              <div ui-select-match placeholder="" allow-clear="true">{{$select.selected.airportCode}}</div>
              <div ui-select-choices repeat="item in airportDataPart" refresh="refreshDest($select.search)" refresh-delay="300">
                <div ng-bind-html="item.airportCode | highlight: $select.search"></div>
              </div>
            </div>
            <input type="text" class="form-control line-row-2" ng-model="billObj.deptDesc" ylx-cursor my-on-change="changeText('deptDesc')">
          </div>
        </div>
      </div>
      <div class="line-right line-right-3">
        <div class="line-row">
          <div ui-select ng-model="billObj.accounInforIdentif" theme="select2" class="form-control line-right-3-1">
            <div ui-select-match placeholder="" allow-clear="true">{{$select.selected.id}}</div>
            <div ui-select-choices repeat="item in accounInforIdentifData | filter: {id:$select.search}">
              <div ng-bind-html="item.id | highlight: $select.search"></div>
            </div>
          </div>
          <input type="text" class="form-control line-right-3-2" maxlength="35" ng-model="billObj.freightPrepaid" ylx-cursor my-on-change="changeText('freightPrepaid')">
        </div>
        <div class="line-row">
          <div ui-select ng-model="billObj.accounInforIdentif1" theme="select2" class="form-control line-right-3-1">
            <div ui-select-match placeholder="" allow-clear="true">{{$select.selected.id}}</div>
            <div ui-select-choices repeat="item in accounInforIdentifData | filter: {id:$select.search}">
              <div ng-bind-html="item.id | highlight: $select.search"></div>
            </div>
          </div>
          <input type="text" class="form-control line-right-3-2" maxlength="35" ng-model="billObj.freightPrepaid1" ylx-cursor my-on-change="changeText('freightPrepaid1')">
        </div>
        <div class="line-row">
          <div ui-select ng-model="billObj.accounInforIdentif2" theme="select2" class="form-control line-right-3-1">
            <div ui-select-match placeholder="" allow-clear="true">{{$select.selected.id}}</div>
            <div ui-select-choices repeat="item in accounInforIdentifData | filter: {id:$select.search}">
              <div ng-bind-html="item.id | highlight: $select.search"></div>
            </div>
          </div>
          <input type="text" class="form-control line-right-3-2" maxlength="35" ng-model="billObj.freightPrepaid2" ylx-cursor my-on-change="changeText('freightPrepaid2')">
        </div>
        <div class="line-row">
          <div ui-select ng-model="billObj.accounInforIdentif3" theme="select2" class="form-control line-right-3-1">
            <div ui-select-match placeholder="" allow-clear="true">{{$select.selected.id}}</div>
            <div ui-select-choices repeat="item in accounInforIdentifData | filter: {id:$select.search}">
              <div ng-bind-html="item.id | highlight: $select.search"></div>
            </div>
          </div>
          <input type="text" class="form-control line-right-3-2" maxlength="35" ng-model="billObj.freightPrepaid3" ylx-cursor my-on-change="changeText('freightPrepaid3')">
        </div>
        <div class="line-row">
          <div ui-select ng-model="billObj.accounInforIdentif4" theme="select2" class="form-control line-right-3-1">
            <div ui-select-match placeholder="" allow-clear="true">{{$select.selected.id}}</div>
            <div ui-select-choices repeat="item in accounInforIdentifData | filter: {id:$select.search}">
              <div ng-bind-html="item.id | highlight: $select.search"></div>
            </div>
          </div>
          <input type="text" class="form-control line-right-3-2" maxlength="35" ng-model="billObj.freightPrepaid4" ylx-cursor my-on-change="changeText('freightPrepaid4')">
        </div>
        <div class="line-row">
          <div ui-select ng-model="billObj.accounInforIdentif5" theme="select2" class="form-control line-right-3-1">
            <div ui-select-match placeholder="" allow-clear="true">{{$select.selected.id}}</div>
            <div ui-select-choices repeat="item in accounInforIdentifData | filter: {id:$select.search}">
              <div ng-bind-html="item.id | highlight: $select.search"></div>
            </div>
          </div>
          <input type="text" class="form-control line-right-3-2" maxlength="35" ng-model="billObj.freightPrepaid5" ylx-cursor my-on-change="changeText('freightPrepaid5')">
        </div>
      </div>
    </div>
    <!-- line-3 end-->
    <!-- line-4 start-->
    <div class="row">
      <div class="line-left-4">
        <div class="line-left-4-1 w7">
          <div class="line-left-4-1-1">To</div>
          <div class="line-left-4-1-2">
            <div class="line-row-4">
              <div ui-select ng-model="billObj.dest1" theme="select2" class="form-control" on-select="onSelectTo($item)">
                <div ui-select-match placeholder="" allow-clear="true">{{$select.selected.airportCode}}</div>
                <div ui-select-choices repeat="item in airportDataPart" refresh="refreshDest($select.search)" refresh-delay="300">
                  <div ng-bind-html="item.airportCode | highlight: $select.search"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="line-left-4-2 w7">
          <div class="line-left-4-2-1">By First Carrier</div>
          <div class="line-left-4-2-2">
            <div class="line-row-4">
              <div ui-select ng-model="billObj.carrier1" theme="select2" class="form-control">
                <div ui-select-match placeholder="" allow-clear="true">{{$select.selected.airCode}}</div>
                <div ui-select-choices repeat="item in airData | filter: {airCode:$select.search}">
                  <div ng-bind-html="item.airCode | highlight: $select.search"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="line-left-4-3 w7">
          <div class="line-left-4-3-1">To</div>
          <div class="line-left-4-3-2">
            <div class="line-row-4">
              <div ui-select ng-model="billObj.dest2" theme="select2" class="form-control" on-select="onSelectTo($item)">
                <div ui-select-match placeholder="" allow-clear="true">{{$select.selected.airportCode}}</div>
                <div ui-select-choices repeat="item in airportDataPart" refresh="refreshDest($select.search)" refresh-delay="300">
                  <div ng-bind-html="item.airportCode | highlight: $select.search"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="line-left-4-4 w7">
          <div class="line-left-4-4-1">By</div>
          <div class="line-left-4-4-2">
            <div class="line-row-4">
              <div ui-select ng-model="billObj.carrier2" theme="select2" class="form-control">
                <div ui-select-match placeholder="" allow-clear="true">{{$select.selected.airCode}}</div>
                <div ui-select-choices repeat="item in airData | filter: {airCode:$select.search}">
                  <div ng-bind-html="item.airCode | highlight: $select.search"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="line-left-4-5 w7">
          <div class="line-left-4-5-1">To</div>
          <div class="line-left-4-5-2">
            <div class="line-row-4">
              <div ui-select ng-model="billObj.dest3" theme="select2" class="form-control" on-select="onSelectTo($item)">
                <div ui-select-match placeholder="" allow-clear="true">{{$select.selected.airportCode}}</div>
                <div ui-select-choices repeat="item in airportDataPart" refresh="refreshDest($select.search)" refresh-delay="300">
                  <div ng-bind-html="item.airportCode | highlight: $select.search"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="line-left-4-6 w7">
          <div class="line-left-4-6-1">By</div>
          <div class="line-left-4-6-2">
            <div class="line-row-4">
              <div ui-select ng-model="billObj.carrier3" theme="select2" class="form-control">
                <div ui-select-match placeholder="" allow-clear="true">{{$select.selected.airCode}}</div>
                <div ui-select-choices repeat="item in airData | filter: {airCode:$select.search}">
                  <div ng-bind-html="item.airCode | highlight: $select.search"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="line-left-4-13 w7">
          <div class="line-left-4-13-1">To</div>
          <div class="line-left-4-13-2">
            <div class="line-row-4">
              <div ui-select ng-model="billObj.dest4" theme="select2" class="form-control" on-select="onSelectTo($item)">
                <div ui-select-match placeholder="" allow-clear="true">{{$select.selected.airportCode}}</div>
                <div ui-select-choices repeat="item in airportDataPart" refresh="refreshDest($select.search)" refresh-delay="300">
                  <div ng-bind-html="item.airportCode | highlight: $select.search"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="line-left-4-14 w7">
          <div class="line-left-4-14-1">By</div>
          <div class="line-left-4-14-2">
            <div class="line-row-4">
              <div ui-select ng-model="billObj.carrier4" theme="select2" class="form-control">
                <div ui-select-match placeholder="" allow-clear="true">{{$select.selected.airCode}}</div>
                <div ui-select-choices repeat="item in airData | filter: {airCode:$select.search}">
                  <div ng-bind-html="item.airCode | highlight: $select.search"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="line-left-4-7 w7">
          <div class="line-left-4-7-1">Currency</div>
          <div class="line-left-4-7-2">
            <div class="line-row-4">
              <div ui-select ng-model="billObj.currency" theme="select2" class="form-control">
                <div ui-select-match placeholder="" allow-clear="true">{{$select.selected.currencyCode}}</div>
                <div ui-select-choices repeat="item in currencyData | filter: {currencyCode:$select.search}">
                  <div ng-bind-html="item.currencyCode | highlight: $select.search"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="line-left-4-8 w7">
          <div class="line-left-4-8-1">CHGS Code</div>
          <div class="line-left-4-8-2">
            <div class="line-row-4">
              <div ui-select ng-model="billObj.chargeCode" theme="select2" class="form-control">
                <div ui-select-match placeholder="" allow-clear="true">{{$select.selected.id}}</div>
                <div ui-select-choices repeat="item in chargeCodeData | filter: {id:$select.search}">
                  <div ng-bind-html="item.id | highlight: $select.search"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="line-left-4-9 w7">
          <div class="line-left-4-9-1">WT/VAL</div>
          <div class="line-left-4-9-2">
            <div class="line-row-4">
              <div ui-select ng-model="billObj.wtVal" theme="select2" class="form-control" on-select="selectWT()">
                <div ui-select-match placeholder="" allow-clear="true">{{$select.selected.name}}</div>
                <div ui-select-choices repeat="item in wtValData | filter: {name:$select.search}">
                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="line-left-4-10 w7">
          <div class="line-left-4-10-1">Other</div>
          <div class="line-left-4-10-2">
            <div class="line-row-4">
              <div ui-select ng-model="billObj.other" theme="select2" class="form-control" on-select="selectOwner()">
                <div ui-select-match placeholder="" allow-clear="true">{{$select.selected.name}}</div>
                <div ui-select-choices repeat="item in wtValData | filter: {name:$select.search}">
                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="line-left-4-11 w7">
          <div class="line-left-4-11-1">Declared Value for Carriage</div>
          <div class="line-left-4-11-2">
            <div class="line-row-4">
              <input type="text" class="form-control" placeholder="NVD" ng-model="billObj.carriageValue" maxlength="11" ylx-cursor my-on-change="changeText3('carriageValue')"
                ng-class="{'error': errorData.indexOf('carriageValue')>-1}">
            </div>
          </div>
        </div>
        <div class="line-left-4-12 w9">
          <div class="line-left-4-12-1">Declared Value for Customs</div>
          <div class="line-left-4-12-2">
            <div class="line-row-4">
              <input type="text" class="form-control" placeholder="NCV" ng-model="billObj.customsValue" maxlength="11" ylx-cursor my-on-change="changeText4('customsValue')"
                ng-class="{'error': errorData.indexOf('customsValue')>-1}">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- line-4 end-->
    <!-- line-5 start-->
    <div class="row">
      <div class="line-left-5">
        <div class="line-left-5-1 w15">
          <div class="line-left-5-1-1">
            Airport of Destination
          </div>
          <div class="line-left-5-1-2">
            <div class="line-row">
              <div class="form-control">{{billObj.airportDest}}</div>
            </div>
            <div class="line-row">{{showText.airPort}}</div>
          </div>
        </div>
        <div class="line-left-5-2 w23">
          <div class="line-left-5-2-1">
            Flight No/Flight Date
          </div>
          <div class="line-left-5-2-2">
            <div class="line-row">
              <div class="form-control line-row-5-1"></div>
              <div class="form-control line-row-5-2"></div>
            </div>
          </div>
        </div>
        <div class="line-left-5-3 w23">
          <div class="line-left-5-3-1">
            Flight No/Flight Date
          </div>
          <div class="line-left-5-3-2">
            <div class="line-row">
              <div class="form-control line-row-5-1"></div>
              <div class="form-control line-row-5-2"></div>
            </div>
          </div>
        </div>
        <div class="line-left-5-4 w18">
          <div class="line-left-5-4-1">
            Amount of Insurance
          </div>
          <div class="line-left-5-4-2">
            <div class="line-row">
              <input type="text" class="form-control" placeholder="XXX" ng-model="billObj.insuranceValue" maxlength="11" ylx-cursor my-on-change="changeText6('insuranceValue')"
                ng-class="{'error': errorData.indexOf('insuranceValue')>-1}">
            </div>
          </div>
        </div>
        <div class="line-left-5-5 w21">
          <div class="line-left-5-5-1">
            INSURANCE-If carrier offers insurance and such insurance is requested in accordance with the conditions thereof indicate
            amount to be insured in figures in box marked”Amount of Insurance”
          </div>
        </div>
      </div>
    </div>
    <!-- line-5 end-->
    <!-- line-6 start-->
    <div class="row line-row-6">
      <div class="line-row">
        <div class="col-sm-12">Handling Information</div>
      </div>
      <div class="line-row">
        <div class="col-sm-2">SSR (SPECIAL SERVICE REQUEST)</div>
        <div class="col-sm-8">
          <textarea class="form-control line-row-6-1" ng-model="billObj.ssr" text-height maxlength="195" my-on-change="changeText('ssr')" ylx-cursor></textarea>
        </div>
        <div class="col-sm-2"></div>
      </div>
      <div class="line-row">
        <div class="col-sm-2">OSI (OTHER SERVICE REQUEST)</div>
        <div class="col-sm-8">
          <textarea class="form-control line-row-6-2" ng-model="billObj.osi1" text-height maxlength="195" ylx-cursor my-on-change="changeText('osi1')"></textarea>
        </div>
        <div class="col-sm-2"></div>
      </div>
      <div class="line-row">
        <div class="col-sm-2">SHC (SPECIAL HANDLING CODE)</div>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="代码间用逗号隔开" ng-model="billObj.holdCode" maxlength="35" ylx-cursor my-on-change="changeText2('holdCode')">
        </div>
        <div class="col-sm-2">
          <button class="btn btn-default btn-line-6" ng-click="selectShcCode()">选择</button>
        </div>
      </div>
      <div class="line-row">
        <div class="col-sm-2">Also notify</div>
        <div class="col-sm-8">
          <div class="form-control line-row-6-4">{{billObj.alsoNotify}}</div>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-default btn-line-6" ng-click="alsoNotify()">选择</button>
        </div>
      </div>
    </div>
    <!-- line-6 end-->
    <!-- line-7 start-->
    <div class="row">
      <div class="line-left-7">
        <div class="line-left-7-1 w13">
          <div class="line-left-7-1-1">
            No. of Pieces RCP
          </div>
          <div class="line-left-7-1-2">
            <div class="line-row">
              <input type="text" class="form-control" ng-model="billObj.rcpNo" maxlength="4" ylx-cursor my-on-change="changeNum('rcpNo')">
            </div>
          </div>
        </div>
        <div class="line-left-7-2 w13">
          <div class="line-left-7-2-1">
            Gross Weight (KG)
          </div>
          <div class="line-left-7-2-2">
            <div class="line-row">
              <input type="text" class="form-control" ng-model="billObj.grossWeight" maxlength="7" ng-change="changeNum4('grossWeight')"
               ng-blur="blurGrossWeight()" ng-class="{'error': errorData.indexOf('grossWeight')>-1}">
            </div>
          </div>
        </div>
        <div class="line-left-7-9 w9">
          <div class="line-left-7-9-1">
            kg lb
          </div>
          <div class="line-left-7-9-2">
            <div class="line-row">
              <div ui-select ng-model="billObj.weightCode" theme="select2" class="form-control">
                <div ui-select-match placeholder="">{{$select.selected.name}}</div>
                <div ui-select-choices repeat="item in weightCodeData | filter: {name:$select.search}">
                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="line-left-7-3 w10">
          <div class="line-left-7-3-1">
            Rate Class
          </div>
          <div class="line-left-7-3-2">
            <div class="line-row">
              <div ui-select ng-model="billObj.rateClass" theme="select2" class="form-control">
                <div ui-select-match placeholder="">{{$select.selected.name}}</div>
                <div ui-select-choices repeat="item in rateClassData | filter: {name:$select.search}">
                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="line-left-7-4 w13">
          <div class="line-left-7-4-1">
            Commodity Item No.
          </div>
          <div class="line-left-7-4-2">
            <div class="line-row">
              <input type="text" class="form-control" ng-model="billObj.commodityNo" maxlength="7" ylx-cursor my-on-change="changeText1('commodityNo')">
            </div>
          </div>
        </div>
        <div class="line-left-7-5 w13">
          <div class="line-left-7-5-1">
            Chargeable Weight (KG)
          </div>
          <div class="line-left-7-5-2">
            <div class="line-row">
              <input type="text" class="form-control" ng-model="billObj.chargeWeight" maxlength="7" ng-change="changeNum5('chargeWeight')"
               ng-blur="blurChargeWeight()" ng-class="{'error': errorData.indexOf('chargeWeight')>-1}">
            </div>
          </div>
        </div>
        <div class="line-left-7-6 w13">
          <div class="line-left-7-6-1">
            Rate/Charge
          </div>
          <div class="line-left-7-6-2">
            <div class="line-row">
              <input type="text" class="form-control" ng-model="billObj.rateCharge" maxlength="8" ylx-cursor my-on-change="changeNum6('rateCharge')"
                ng-class="{'error': errorData.indexOf('rateCharge')>-1}">
            </div>
          </div>
        </div>
        <div class="line-left-7-7 w16">
          <div class="line-left-7-7-1">
            Total
          </div>
          <div class="line-left-7-7-2">
            <div class="line-row">
              <input type="text" class="form-control" ng-model="billObj.totalCount" maxlength="12" ylx-cursor my-on-change="changeNum7('totalCount')"
                ng-class="{'error': errorData.indexOf('totalCount')>-1}">
            </div>
          </div>
        </div>
        <div class="line-left-7-8">
          <div class="line-left-7-8-1">
            <div class="line-left-7-8-1-1">SLAC</div>
            <div class="line-left-7-8-1-2">
              <div class="line-row">
                <input type="text" class="form-control" ng-model="billObj.slac" maxlength="5" ylx-cursor my-on-change="changeNum('slac')">
              </div>
            </div>
          </div>
          <div class="line-left-7-8-2">
            <div class="line-row">
              <div class="line-row-7-1">REMARK</div>
              <textarea class="form-control line-row-7-2" ng-model="billObj.remark" ylx-cursor my-on-change="changeText('remark')"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="line-right-7">
        <div class="line-right-7-1">
          Nature and Quantity of Goods (incl. Dimensions or Volume)
        </div>
        <div class="line-right-7-2">
          <div class="line-right-7-2-1">
            <div class="line-right-7-2-1-1">
              Goods Description
            </div>
            <div class="line-right-7-2-1-2">
              <textarea class="form-control line-row-7-2" ng-model="billObj.goodsDesc" maxlength="240" ylx-cursor my-on-change="changeText('goodsDesc')"></textarea>
            </div>
            <div class="line-right-7-2-1-3">
            </div>
          </div>
          <div class="line-right-7-2-2">
            <div class="line-right-7-2-2-1">
              Vol
            </div>
            <div class="line-right-7-2-2-2">
              <input type="text" class="form-control w55 dib" ng-model="billObj.vol" maxlength="7" ylx-cursor my-on-change="changeNum8('vol')" ng-class="{'error': errorData.indexOf('vol')>-1}">
              <div ui-select ng-model="billObj.volumeCode" theme="select2" class="form-control w35">
                <div ui-select-match placeholder="">{{$select.selected.id}}</div>
                <div ui-select-choices repeat="item in volumeCodeData | filter: {id:$select.search}">
                  <div ng-bind-html="item.id | highlight: $select.search"></div>
                </div>
              </div>
            </div>
            <div class="line-right-7-2-2-3">
              <button class="btn btn-default" ng-click="selectVol()">尺寸</button>
            </div>
          </div>
          <div class="line-right-7-2-3" ng-if="billObj.densityGroup">
            <div class="line-right-7-2-3-1">
              Density group
            </div>
            <div class="line-right-7-2-3-2">
              <div class="form-control">{{billObj.densityGroup}}</div>
            </div>
            <div class="line-right-7-2-3-3">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- line-7 end-->
    <!-- line-8 start-->
    <div class="row">
      <div class="line-left-8">
        <div class="line-left-8-1">
          <div class="line-left-8-1-1">Prepaid</div>
          <div class="line-left-8-1-2">Weight Charge</div>
          <div class="line-left-8-1-3">Collect</div>
        </div>
        <div class="line-left-8-2">
          <div class="line-left-8-2-1">
            <div class="line-row">
              <div class="form-control">{{billObj.prepaid}}</div>
            </div>
          </div>
          <div class="line-left-8-2-2">
            <div class="line-row">
              <div class="form-control">{{billObj.collect}}</div>
            </div>
          </div>
        </div>
        <div class="line-left-8-3">
          <div class="line-left-8-3-1">&nbsp;</div>
          <div class="line-left-8-3-2">Valuation Charge</div>
          <div class="line-left-8-3-3">&nbsp;</div>
        </div>
        <div class="line-left-8-4">
          <div class="line-left-8-4-1">
            <div class="line-row">
              <input type="text" class="form-control" ng-model="billObj.valuationCharge" maxlength="12" ylx-cursor my-on-change="changeNum7('valuationCharge')"
                ng-class="{'error': errorData.indexOf('valuationCharge')>-1}">
            </div>
          </div>
          <div class="line-left-8-4-2">
            <div class="line-row">
              <input type="text" class="form-control" ng-model="billObj.valuationCharge2" maxlength="12" ylx-cursor my-on-change="changeNum7('valuationCharge2')"
                ng-class="{'error': errorData.indexOf('valuationCharge2')>-1}">
            </div>
          </div>
        </div>
        <div class="line-left-8-5">
          <div class="line-left-8-5-1">&nbsp;</div>
          <div class="line-left-8-5-2">Tax</div>
          <div class="line-left-8-5-3">&nbsp;</div>
        </div>
        <div class="line-left-8-6">
          <div class="line-left-8-6-1">
            <div class="line-row">
              <input type="text" class="form-control" ng-model="billObj.tax" maxlength="12" ylx-cursor my-on-change="changeNum7('tax')" ng-class="{'error': errorData.indexOf('tax')>-1}">
            </div>
          </div>
          <div class="line-left-8-6-2">
            <div class="line-row">
              <input type="text" class="form-control" ng-model="billObj.tax2" maxlength="12" ylx-cursor my-on-change="changeNum7('tax2')" ng-class="{'error': errorData.indexOf('tax2')>-1}">
            </div>
          </div>
        </div>
        <div class="line-left-8-7">
          <div class="line-left-8-7-1">&nbsp;</div>
          <div class="line-left-8-7-2">Total Other Charges Due Agent</div>
          <div class="line-left-8-7-3">&nbsp;</div>
        </div>
        <div class="line-left-8-8">
          <div class="line-left-8-8-1">
            <div class="line-row">
              <div class="form-control">{{billObj.totalAgent}}</div>
            </div>
          </div>
          <div class="line-left-8-8-2">
            <div class="line-row">
              <div class="form-control">{{billObj.totalAgent2}}</div>
            </div>
          </div>
        </div>
        <div class="line-left-8-9">
          <div class="line-left-8-9-1">&nbsp;</div>
          <div class="line-left-8-9-2">Total Other Charges Due Carrier</div>
          <div class="line-left-8-9-3">&nbsp;</div>
        </div>
        <div class="line-left-8-10">
          <div class="line-left-8-10-1">
            <div class="line-row">
              <div class="form-control">{{billObj.totalCarrier}}</div>
            </div>
          </div>
          <div class="line-left-8-10-2">
            <div class="line-row">
              <div class="form-control">{{billObj.totalCarrier2}}</div>
            </div>
          </div>
        </div>
        <div class="line-left-8-11">
          <div class="line-left-8-11-1">
            <div class="line-row">
              &nbsp;
            </div>
          </div>
          <div class="line-left-8-11-2">
            <div class="line-row">
              &nbsp;
            </div>
          </div>
        </div>
        <div class="line-left-8-12">
          <div class="line-left-8-12-1">
            Total Prepaid
          </div>
          <div class="line-left-8-12-2">
            Total Collect
          </div>
        </div>
        <div class="line-left-8-13">
          <div class="line-left-8-13-1">
            <div class="line-row">
              <div class="form-control">{{billObj.totalPrepaid}}</div>
            </div>
          </div>
          <div class="line-left-8-13-2">
            <div class="line-row">
              <div class="form-control">{{billObj.totalCollect}}</div>
            </div>
          </div>
        </div>
        <div class="line-left-8-14">
          <div class="line-left-8-14-1">
            Currency Conversion Rates
          </div>
          <div class="line-left-8-14-2">
            CC Charges in des. Currency
          </div>
        </div>
        <div class="line-left-8-15">
          <div class="line-left-8-15-1">
            <div class="line-row">
              <div ui-select ng-model="billObj.destCurrency" theme="select2" class="form-control w30 fl mr10">
                <div ui-select-match placeholder="" allow-clear="true">{{$select.selected.currencyCode}}</div>
                <div ui-select-choices repeat="item in currencyData | filter: {currencyCode:$select.search}">
                  <div ng-bind-html="item.currencyCode | highlight: $select.search"></div>
                </div>
              </div>
              <input type="text" class="form-control w55 fl" ng-model="billObj.rates" maxlength="11" ylx-cursor my-on-change="changeNum9('rates')" ng-class="{'error': errorData.indexOf('rates')>-1}">
            </div>
          </div>
          <div class="line-left-8-15-2">
            <div class="line-row">
              <input type="text" class="form-control" ng-model="billObj.ccChargesDes" maxlength="12" ylx-cursor my-on-change="changeNum7('ccChargesDes')"
                ng-class="{'error': errorData.indexOf('ccChargesDes')>-1}">
            </div>
          </div>
        </div>
      </div>
      <div class="line-right-8">
        <div class="line-right-8-1">
          <div class="line-right-8-1-1 row">
            <div class="w10">Other Fee</div>
            <div class="w20">Code</div>
            <div class="w20">Owner</div>
            <div class="w45">Fee</div>
          </div>
          <div class="line-right-8-1-div row" ng-repeat="item in otherFeeData track by $index">
            <div class="w10">
              <span class="glyphicon glyphicon-minus csp" ng-click="removeOtherFee($index)"></span>
            </div>
            <div class="w20">
              <div ui-select ng-model="item.code" theme="select2" class="form-control">
                <div ui-select-match placeholder="" allow-clear="true">{{$select.selected.name}}</div>
                <div ui-select-choices repeat="item in otherCodeData | filter: {name:$select.search}">
                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                </div>
              </div>
            </div>
            <div class="w20">
              <div ui-select ng-model="item.owner" theme="select2" class="form-control" on-select="selectOwner()">
                <div ui-select-match placeholder="" allow-clear="true">{{$select.selected.name}}</div>
                <div ui-select-choices repeat="item in otherOwnerData | filter: {name:$select.search}">
                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                </div>
              </div>
            </div>
            <div class="w45">
              <input type="text" class="form-control" ng-model="item.fee" maxlength="12" ylx-cursor my-on-change="changeNum3(item)" ng-class="{'error': item.errorFlag}">
            </div>
          </div>
          <div class="row">
            <span class="glyphicon glyphicon-plus csp" ng-click="addOtherFee()"></span>
          </div>
        </div>
        <div class="line-right-8-2">
          <div class="line-right-8-2-1">
            Shipper certifies that the particulars on the face hereof are correct and that insofar as any part of the consignment contains
            dangerous goods, such part is properly described by name and is in proper condition for carriage by air according
            to the applicable Dangerous Goods Regulations
          </div>
          <div class="line-right-8-2-2">
            <div class="line-right-8-2-2-check">
              <label>
                  <input type="checkbox" ng-model="billObj.agreedFlag" ng-checked="billObj.agreedFlag === '1'">
                  <span>I agreed with above all terms</span>
                </label>
            </div>
          </div>
          <div class="line-right-8-2-3">
            <textarea class="form-control" rows="3" maxlength="50" ng-model="billObj.signatureAgent" ylx-cursor my-on-change="changeText('signatureAgent')"></textarea>
          </div>
          <div class="line-right-8-2-4">
            Signature of Shipper or his agent
          </div>
        </div>
        <div class="line-right-8-3">
          <div class="line-right-8-3-1">
            <div>
              <div class="form-control"></div>
              <!--<input type="text" class="form-control" pikaday="myPickerObject2" ng-model="billObj.executed">-->
              <div>Executed on(Date)</div>
            </div>
            <div>
              <input type="text" class="form-control" ng-model="billObj.place" maxlength="17" ylx-cursor my-on-change="changeText('place')">
              <div>at(Place)</div>
            </div>
            <div>
              <input type="text" class="form-control" ng-model="billObj.signatureIssuing" maxlength="20" ylx-cursor my-on-change="changeText('signatureIssuing')">
              <div>Signature of issuing Carrier or its Agent</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- line-8 end-->
    <!-- line-9 start-->
    <div class="row">
      <div class="line-left-9">
        <div class="line-left-9-1">
          For Carrier's Use Only at Destinationes at Destination
        </div>
        <div class="line-left-9-2">
          <div class="line-left-9-2-1">
            Charges at Destination
          </div>
          <div class="line-left-9-2-2">
            <input type="text" class="form-control" ng-model="billObj.chargesDestination" maxlength="12" ylx-cursor my-on-change="changeNum7('chargesDestination')"
              ng-class="{'error': errorData.indexOf('chargesDestination')>-1}">
          </div>
        </div>
      </div>
      <div class="line-right-9">
        <div class="line-right-9-1">
          Total Collect Charges
        </div>
        <div class="line-right-9-2">
          <input type="text" class="form-control" ng-model="billObj.totalCollectCharges" maxlength="12" ylx-cursor my-on-change="changeNum7('totalCollectCharges')"
            ng-class="{'error': errorData.indexOf('totalCollectCharges')>-1}">
        </div>
      </div>
    </div>
    <!-- line-9 end-->
    <!-- line-10 start-->
    <div class="row line-last">
      <div class="line-left-10">
        <div class="line-left-10-1">
          模板名称
        </div>
        <div class="line-left-10-2">
          <input type="text" class="form-control" ng-model="tempObj.labelName">
        </div>
      </div>
      <div class="line-right-10">
        <div class="line-right-10-1">
          模板备注
        </div>
        <div class="line-right-10-2">
          <textarea rows="3" class="form-control" ng-model="tempObj.mRemark"></textarea>
        </div>
      </div>
    </div>
    <!-- line-10 end-->
  </div>
</div>