<ol class="bread">
  <li><a role="button" ui-sref="index">首页</a></li>
  <li class="bread-arrow">&gt;</li>
  <li><span>选项</span></li>
  <li class="bread-arrow">&gt;</li>
  <li class="active">运单校验字段</li>
</ol>
<div class="content-main-title">
  <div class="title">运单校验字段</div>
  <div class="pull-right">
    <button class="btn btn-default" ng-click="add()">
      <i class="i-add"></i>新增
    </button>
  </div>
</div>
<div class="content-main-body">
  <div class="content-main-search">
    <div class="row">
      <div class="col-sm-4">
        <div class="search-name">分类</div>
        <div class="search-value">
          <div ui-select ng-model="fieldObj.type" theme="select2" class="form-control wd" autofocus="true">
            <div ui-select-match placeholder="请选择..." allow-clear="true">{{$select.selected.sortName}}</div>
            <div ui-select-choices repeat="item in typeData | filter: {sortName:$select.search}">
              <div ng-bind-html="item.sortName | highlight: $select.search"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-primary" ng-click="search()">查询</button>
      </div>
    </div>    
  </div>
  <table class="table content-main-table">
    <thead>
      <tr>
        <th class="w12">分类</th>
        <th class="w12">字段分类</th>
        <th class="w12">字段</th>
        <th class="w12">字段英文描述</th>
        <th class="w12">字段中文描述</th>
        <th class="w12">创建人</th>
        <th class="w16">创建时间</th>
        <th class="w12">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in fieldData track by $index" ng-class-even="'even'">
        <td>{{item.checkSort.sortName}}</td>
        <td>{{item.fieldMaintain.fieldSort | showFieldType : fieldType}}</td>
        <td>{{item.fieldMaintain.field}}</td>
        <td>{{item.fieldMaintain.fieldDescriptionEn}}</td>
        <td>{{item.fieldMaintain.fieldDescriptionCn}}</td>
        <td>{{item.pretrialRequired.creater}}</td>
        <td>{{item.pretrialRequired.createTime |date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>
          <div class="btn-img" ng-click="remove(item.pretrialRequired.id, item.fieldMaintain.field)">
            <i class="btn-del"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-include="'page.html'" class="row"></div>
</div>