<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title">
            {{title}}
            <div class="modal-close" ng-click="cancel()">
                <i class="i-close"></i>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <table class="table content-main-table">
            <thead>
                <tr>
                    <th class="w15">操作状态</th>
                    <th class="w50">操作内容</th>
                    <th class="w15">操作人员</th>
                    <th class="w20">操作时间</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in historys | orderBy:'-createdDate'" ng-class-even="'even'">
                    <td>{{row.oprnType}}</td>
                    <td>
                        <p style="margin: 0 0 0;" ng-if="row.remarkTxt" ng-bind-html="row.remarkTxt"></p>
                        <p style="margin: 0 0 0;" ng-if="row.remarkString">{{row.remarkString}}</p>
                        <p style="margin: 0 0 0;" ng-if="!row.remarkTxt && !row.remarkString">{{row.remarks}}</p>
                    </td>
                    <td>{{row.creatorName}}</td>
                    <td>{{row.createdDate | date:'MM/dd HH:mm:ss'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">关闭</button>
    </div>
</div>
