<!DOCTYPE html>
<html lang="zh-CN" ng-app="app">

<head>
	<style type="text/css">
		@charset "UTF-8";
		[ng\:cloak],
		[ng-cloak],
		[data-ng-cloak],
		[x-ng-cloak],
		.ng-cloak,
		.x-ng-cloak,
		.ng-hide {
			display: none !important;
		}

		ng\:form {
			display: block;
		}

		.ng-animate-block-transitions {
			transition: 0s all!important;
			-webkit-transition: 0s all!important;
		}

		.ng-hide-add-active,
		.ng-hide-remove {
			display: block!important;
		}
	</style>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<title>条码生成</title>
	<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>

<body ng-cloak>
	<div ng-controller="creatBarcodeCtrl">
		<header class="header">
			<div class="Grid">
				<div class="Grid-cell u-1of4">					
					<label class="weui-label" style="width: 60px;">条形码</label>
				</div>
				<div class="Grid-cell">
					<input class="weui-input" ng-model="barcodeData.barcode" ng-change="onlyEn()">
				</div>
				<div class="Grid-cell u-1of4">
					<a style="font-weight: bold; font-size: 16px;" ng-click="search()">生成条码</a>
				</div>
			</div>
		</header>
		<div class="main-content singleBarcode" ng-if="btn.detail" style="position:relative;">
			<div class="showBarcode">
				<div class="weui-cell__hd" style="margin-top: 10px;">
					<img class="portrait" ng-click=showCol($event) ng-src="{{barCode}}" alt="code">
				</div>
				<div class="weui-cell__hd" style="font-size: 24px;font-weight: 700;">{{outBarcode}}
				</div>
				<div style="margin:10px;">
				<small ng-if="isAndroid">横屏显示设置方法：登录微信，我-设置-通用-横屏模式：开启</small>
					<small ng-if="isiOS">手机横着可横屏显示</small>
				</div>
			</div>

		</div>
		<div class="singleBarcode" ng-if="btn.showimg">
			<img src="../imges/noresult.png" height="89" width="102" alt="无搜索结果">
		</div>
	</div>
</body>
</html>