<div class="modal-content">
        <div class="modal-header">
            <div class="modal-title">
                {{title}}
                <div class="modal-close" ng-click="cancel()">
                    <i class="i-close"></i>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="receiptPass">
                <div class="reBillNo">备注</div>
                <div><textarea class="form-control receipthei reBillVal" ng-model="back.content"></textarea>
                </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="save()">确定</button>
            <button class="btn btn-default" ng-click="cancel()">取消</button>
        </div>
    </div>