<style>
  .main-container {
    height: 100%;
    min-height: 100%;
  }

  .back {
    bottom: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
  }

  .items,
  .item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .item {
    background: #fff none no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: none;
  }

  .items img {
    width: 100%;
    height: 100%;
  }

  .logo1 {
    position: absolute;
    top: 50px;
    left: 64%;
    right: 0;
    width: 206px;
    margin-right: -495px;
  }

  .items2 {
    position: absolute;
    bottom: 40px;
    right: 0;
    left: 50%;
    width: 650px;
    margin-left: -325px;
  }

  .items3 {
    float: left;
  }

  .items4 {
    position: absolute;
    bottom: 0;
    width: 500px;
    background-color: #DD7640;
    padding: 20px;
    margin-left: 150px;
  }

  .items4-1 {
    float: left;
    width: 40%;
  }

  .items-back {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
  }

  .items-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }

  .mask {
    position: absolute;
    width: 120px;
    height: 120px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    background: #000;
  }

  .timeout {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
  }

  .second {
    margin-top: 15%;
  }
  .newCodeClass{
  	   height: 120px!important;
  }
</style>

<div class="back">
  <div class="items">
    <div class="item item1">
      <img src="../../image/login/login.jpg" alt="">
    </div>
    <!--     <div class="item item1">
      <img src="../../image/login/1.jpg" alt="">
    </div> -->
    <!--     <div class="item item2" style="display: block;">
      <img src="../../image/login/2.jpg" alt=""></div>
    <div class="item item3" style="display: block;">
      <img src="../../image/login/3.jpg" alt=""></div> -->
  </div>
  <!-- <div class="items-back"></div> -->
  <div class="items-container">
    <div class="logo1">
      <img src="../../image/login/tytlogo.png" alt="">
    </div>
    <div class="items2">
      <div class="items3">
        <div class="items-timeout" ng-show="itemTimeout">
          <div class="mask"></div>
          <div class="timeout">
            <p class="second">二维码失效</p>
            <button class="btn btn-primary" ng-click="createQrCode()">刷新</button>
          </div>
        </div>
        <img ng-src="{{wechatUrl}}" alt="" height="120px" width="120px">
      </div>
      <form class="w5c-form">
        <div class="items4" ng-class="{'newCodeClass':codeFlag}">
          <div class="items4-1 mr20">
            <input class="form-control username" type="text" name="username" autocomplete="off" placeholder="{{ 'LOGIN.usename' | translate }}"
              ng-model="user.username">
          </div>
          <div class="items4-1">
            <input class="form-control password" type="password" name="password" autocomplete="off" placeholder="{{ 'LOGIN.password' | translate }}"
              ng-model="user.password">
          </div>
          <button class="btn btn-login" ng-click="login()" title="{{ 'LOGIN.login' | translate }}">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
          <input placeholder="验证码" ng-model="user.checkCode" ng-if="codeFlag" style="height: 36px;width: 145px;margin-top: 9px;border-radius: 5px;border: none;box-shadow: inset 0 1px 1px rgba(0,0,0,.075);padding-left: 14px;font-size: 16px;color: rgb(0, 0, 0);transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;background-color: rgb(250, 255, 189)"  type="text" />
          <img ng-click="changeCode()" ng-if="codeFlag" ng-src={{imgCode}} style="height: 36px; width: 145px;border-radius: 5px;margin-top: 9px;float: right;margin-right: 66px;"/>
        </div>
      </form>
    </div>
  </div>
</div>
<div ng-show="loading" class="header">
  <div class="shadow"></div>
</div>