<div class="modal-content">
	<div class="modal-header">
		<div class="modal-title">
			{{title}}
			<div class="modal-close" ng-click="cancel()">
				<i class="i-close"></i>
			</div>
		</div>
		<input type="hidden" ng-model="formalFlag">
	</div>
	<div class="modal-body">
		<div class="receiptPass">
			<!-- <div class="reBillNo" ng-show="formalFlag!=='1'">注意：如果没有匹配的规则测试运单是无法变更为正式运单的</div> -->
			<div class="reBillNo">备注</div>
			<div><textarea class="form-control receipthei reBillVal" ng-model="remark.comment"></textarea>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="save('0')" ng-show="formalFlag==='1'">确认标记为测试运单</button>
		<button class="btn btn-primary" ng-click="save('1')" ng-show="formalFlag!=='1'">确认标记为正式运单</button>
		<button class="btn btn-default" ng-click="cancel()">取消</button>
	</div>
</div>