<div class="modal-content">
	<div class="modal-header">
		<div class="modal-title">
			{{title}}
			<div class="modal-close" ng-click="cancel()">
				<i class="i-close"></i>
			</div>
		</div>
		<input type="hidden" ng-model="wFlag">
	</div>
	<div class="modal-body">
		<div class="receiptPass">
			<div class="reBillNo" ng-show="wFlag==='1'">注意：运单变更为无效运单以后将不能进行任何处理</div>
			<div class="reBillNo">备注</div>
			<div><textarea class="form-control receipthei reBillVal" ng-model="remark.comment"></textarea>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="save('1')" ng-show="wFlag==='1'">确认标记为无效运单</button>
		<button class="btn btn-primary" ng-click="save('0')" ng-show="wFlag!=='1'">确认标记为有效运单</button>
		<button class="btn btn-default" ng-click="cancel()">取消</button>
	</div>
</div>