<ol class="bread">
  <li><a role="button" ui-sref="index">首页</a></li>
  <li class="bread-arrow">&gt;</li>
  <li><span>选项</span></li>
  <li class="bread-arrow">&gt;</li>
  <li class="active">国家</li>
</ol>
<div class="content-main-title">
  <div class="title">国家</div>
  <div class="pull-right">
    <button class="btn btn-default" ng-click="add()">
      <i class="i-add"></i>新增
    </button>
  </div>
</div>
<div class="content-main-body">
  <div class="content-main-search">
    <div class="row">
      <div class="col-sm-4">
        <div class="search-name">国家代码</div>
        <div class="search-value">
          <input type="text" class="form-control" ng-model="countryObj.countryCode" auto-focus="true">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="search-name">国家</div>
        <div class="search-value">
          <input type="text" class="form-control" ng-model="countryObj.countryName">
        </div>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-primary" ng-click="search()">查询</button>
      </div>
    </div>
  </div>
  <table class="table content-main-table">
    <thead>
      <tr>
        <th class="">序号</th>
        <th class="">国家代码</th>
        <th class="">国家</th>
        <th class="">iata区域</th>
        <th class="">币种名字</th>
        <th class="">币种代码</th>
        <th class="">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in countryData track by $index" ng-class-even="'even'">
        <td>{{$index+1}}</td>
        <td>{{item.countryCode}}</td>
        <td>{{item.countryName}}</td>
        <td>{{item.iataArea}}</td>
        <td>{{item.currencyName}}</td>
        <td>{{item.currencyCode}}</td>
        <td>
          <div class="btn-img" ng-click="edit(item)">
            <i class="btn-edit"></i>
          </div>
          <div class="btn-img" ng-click="remove(item.id, item.countryName)">
            <i class="btn-del"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-include="'page.html'" class="row"></div>
</div>