<ol class="bread">
  <li><a role="button" ui-sref="index">首页</a></li>
  <li class="bread-arrow">&gt;</li>
  <li><span>选项</span></li>
  <li class="bread-arrow">&gt;</li>
  <li class="active">航空公司</li>
</ol>
<div class="content-main-title">
  <div class="title">航空公司</div>
  <div class="pull-right">
    <button class="btn btn-default" ng-click="add()">
      <i class="i-add"></i>新增
    </button>
  </div>
</div>
<div class="content-main-body">
  <div class="content-main-search">
    <div class="row">
      <div class="col-sm-4">
        <div class="search-name">二字码</div>
        <div class="search-value">
          <input type="text" class="form-control" ng-model="airObj.airCode" auto-focus="true">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="search-name">三字码</div>
        <div class="search-value">
          <input type="text" class="form-control" ng-model="airObj.destCode">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="search-name">名称</div>
        <div class="search-value">
          <input type="text" class="form-control" ng-model="airObj.airName">
        </div>
      </div>
    </div>
    <div class="row search-btn">
      <div class="pull-right">
        <button class="btn btn-primary" ng-click="search()">查询</button>
      </div>
    </div>
  </div>
  <table class="table content-main-table">
    <thead>
      <tr>
        <th class="w6">图标</th>
        <th class="w6">二字码</th>
        <th class="w6">三字码</th>
        <th class="w9">名称</th>
        <th class="w9">TEL</th>
        <th class="w9">FAX</th>
        <th class="w9">E-MAIL</th>
        <th class="w6">创建人</th>
        <th class="w9">修改人</th>
        <th class="w16">最后修改时间</th>
        <th class="w15">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in airData track by $index" ng-class-even="'even'">
        <td><img ng-src="{{item.filePath || ' '}}" alt="" class="air-img"></td>
        <td>{{item.airCode}}</td>
        <td>{{item.destCode}}</td>
        <td>{{item.airName}}</td>
        <td>{{item.tel}}</td>
        <td>{{item.fax}}</td>
        <td>{{item.email}}</td>
        <td>{{item.creater}}</td>
        <td>{{item.updater}}</td>
        <td>{{item.updateTime |date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>
          <div class="btn-img" ng-click="edit(item.alId)">
            <i class="btn-edit"></i>
          </div>          
          <div class="btn-img" ng-click="enable(item.alId)" ng-if="item.deleteFlag==='2'">
            <i class="i-sx"></i>
          </div>
          <div class="btn-img" ng-click="disable(item.alId)" ng-if="item.deleteFlag==='0'">
            <i class="i-yx"></i>
          </div>
          <div class="btn-img" ng-click="remove(item.alId, item.airName)">
            <i class="btn-del"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-include="'page.html'" class="row"></div>
</div>