<form class="w5c-form form-horizontal" w5c-form-validate novalidate name="validateForm">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">
        {{title}}
        <div class="modal-close" ng-click="cancel()">
          <i class="i-close"></i>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-2 modal-body-name">名称<span class="text-danger">*</span></div>
        <div class="col-sm-10 modal-body-value">
          <input type="text" class="form-control" name="code" autocomplete="off" required ng-model="tagObj.name">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 modal-body-name">颜色<span class="text-danger">*</span></div>
        <div class="col-sm-10 modal-body-value">
          <input type="text" maxlength="100" class="form-control" name="level" autocomplete="off" colorpicker required ng-model="tagObj.style">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 modal-body-name">备注</div>
        <div class="col-sm-10 modal-body-value">
          <textarea class="form-control" rows="3" ng-model="tagObj.remark"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" w5c-form-submit="save()">保存</button>
      <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
  </div>
</form>