<form class="w5c-form form-horizontal" w5c-form-validate novalidate name="validateForm">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">
        {{title}}
        <div class="modal-close" ng-click="cancel()">
          <i class="i-close"></i>
        </div>
      </div>
    </div>
    <div class="modal-body modal-body-content">
      <div class="row">
        <div class="modal-body-name">航空公司<span class="text-danger">*</span></div>
        <div class="modal-body-value">
          <div ui-select ng-model="fieldObj.air" theme="select2" class="form-control">
            <div ui-select-match placeholder="请选择..." allow-clear="true">{{$select.selected.airCode}}</div>
            <div ui-select-choices repeat="item in airData | {airCode:$select.search}">
              <div ng-bind-html="item.airCode | highlight: $select.search"></div>
            </div>
          </div>
          <input type="hidden" name="air" required ng-model="fieldObj.air">
        </div>
      </div>
      <div class="row">
        <div class="modal-body-name">国家<span class="text-danger">*</span></div>
        <div class="modal-body-value">
          <div ui-select ng-model="fieldObj.country" theme="select2" class="form-control">
            <div ui-select-match placeholder="请选择..." allow-clear="true">{{$select.selected.countryCode}}</div>
            <div ui-select-choices repeat="item in countryData | filter: {countryCode:$select.search}">
              <div ng-bind-html="item.countryCode | highlight: $select.search"></div>
            </div>
          </div>
          <input type="hidden" name="country" required ng-model="fieldObj.country">
        </div>
      </div>
      <div class="row">
        <div class="modal-body-name">目的港<span class="text-danger">*</span></div>
        <div class="modal-body-value">
          <div ui-select ng-model="fieldObj.dest" theme="select2" class="form-control">
            <div ui-select-match placeholder="请选择..." allow-clear="true">{{$select.selected.airportCode}}</div>
            <div ui-select-choices repeat="item in airportData | filter: {airportCode:$select.search}">
              <div ng-bind-html="item.airportCode | highlight: $select.search"></div>
            </div>
          </div>
          <input type="hidden" name="dest" required ng-model="fieldObj.dest">
        </div>
      </div>
      <div class="row">
        <div class="modal-body-name">字段<span class="text-danger">*</span></div>
        <div class="modal-body-value">
          <div ui-select ng-model="fieldObj.field" theme="select2" class="form-control" ng-disabled="canEdit">
            <div ui-select-match placeholder="请选择..." allow-clear="true">{{$select.selected.field}}</div>
            <div ui-select-choices repeat="item in fieldData | filter: {field:$select.search}">
              <div ng-bind-html="item.field | highlight: $select.search"></div>
            </div>
          </div>
          <input type="hidden" name="field" required ng-model="fieldObj.field">
        </div>
      </div>
      <div class="row">
        <div class="modal-body-name">字段英文描述</div>
        <div class="modal-body-value">
          {{fieldObj.field.fieldDescriptionEn}}
        </div>
      </div>
      <div class="row">
        <div class="modal-body-name">字段中文描述</div>
        <div class="modal-body-value">
          {{fieldObj.field.fieldDescriptionCn}}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" w5c-form-submit="save()">保存</button>
      <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
  </div>
</form>