<form class="w5c-form form-horizontal" w5c-form-validate novalidate name="validateForm">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">
        {{title}}
        <div class="modal-close" ng-click="cancel()">
          <i class="i-close"></i>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-2 modal-body-name">资源编码<span class="text-danger">*</span></div>
        <div class="col-sm-8 modal-body-value">
          <input type="text" class="form-control" name="resourceid" required ng-model="detailObj.resourceid">
        </div>
        <div class="col-sm-2 modal-body-value">
            <button class="btn btn-default" ng-click="selectResource()">选择资源</button>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-2 modal-body-name">资源名称</div>
          <div class="col-sm-10 modal-body-value">
            {{detailObj.resourceid | showResource: resourceRows}}
          </div>
        </div>
      <div class="row">
        <div class="col-sm-2 modal-body-name">类别<span class="text-danger">*</span></div>
        <div class="col-sm-10 modal-body-value">
          <div ui-select ng-model="detailObj.rType" theme="select2" class="form-control">
            <div ui-select-match placeholder="请选择..." allow-clear="false">{{$select.selected.name}}</div>
            <div ui-select-choices repeat="item in resourceData | filter: {name:$select.search}">
              <div ng-bind-html="item.name | highlight: $select.search"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" w5c-form-submit="save()">保存</button>
      <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
  </div>
</form>