<div class="modal-content">
	<div class="modal-header">
		<div class="modal-title">
			{{title}}
			<div class="modal-close" ng-click="cancel()">
				<i class="i-close"></i>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<div class="row pull-right">
			<button class="btn btn-primary" ng-click="addCert()" ng-if="itemObj.canEdit">添加记录</button> 
			<button class="btn btn-primary" ng-click="selectMasterCert()" ng-if="canSubCertEdit && masterRows && masterRows.length>0">选择安检添加证书</button>
		</div>
		<table class="table content-main-table">
			<thead>
				<tr>
					<th class="w15">证书类型</th>
					<th class="w15">鉴定机构</th>
					<th class="w24">证书编号</th>
					<th class="w23">证书电子档</th>
					<th class="w13">在线审核通过</th>
					<th class="w10">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="rowobj in rows" ng-class-even="'even'">
					<td>{{rowobj.book.bookType | showStatus: typeData }}</td>
					<td>{{rowobj.book.officeName}}</td>
					<td>{{rowobj.book.bookNo}}</td>
					<td class="imgShow">
						<i class="i-pdf" ng-mouseover="rowobj.imgShow=true" ng-mouseleave="rowobj.imgShow=false" ng-click="openDialog({
						officeName:rowobj.book.officeName,
						bookNo: rowobj.book.bookNo,
						src:rowobj.fileHttpPath,
						srcArr: rowobj.srcArr
						})" ng-if="rowobj.pdfPath"></i>
						<div ng-show="rowobj.imgShow" ng-style="rowobj.style1">
							<img ng-src="{{rowobj.filePath}}" ng-style="rowobj.style2">
						</div>
						<span class="label goodsType-puhuo1" ng-if="rowobj.book.goodsType === '101'">普货</span>
						<span class="label goodsType-ldc1" ng-if="rowobj.book.goodsType === '102'">锂电池</span>
					</td>
					<td>
						<i ng-if="rowobj.book.deviceId!=='1' && rowobj.book.status==='1'" class="i-yes1"></i>
						<i ng-if="rowobj.book.deviceId!=='1' &&rowobj.book.status==='2'" class="i-no1"></i>
						<span ng-if="!rowobj.book.status && rowobj.book.deviceId!=='1'">待审核</span> <span ng-if="rowobj.book.deviceId==='1'">安检添加</span>
					</td>
					<td>
						<i class="btn-del" ng-click="remove(rowobj, $index)" ng-if="canDel() && false"></i>
					</td>
				</tr>
				<tr ng-repeat="rowobj in applyBookData" ng-class-even="'even'">
						<td>{{rowobj.book.bookType | showStatus: typeData }}</td>
						<td>{{rowobj.book.officeName}}</td>
						<td>{{rowobj.book.bookNo}}</td>
						<td class="imgShow">
							<i class="i-pdf" ng-mouseover="rowobj.imgShow=true" ng-mouseleave="rowobj.imgShow=false" ng-click="openDialog({
							officeName:rowobj.book.officeName,
							bookNo: rowobj.book.bookNo,
							src:rowobj.fileHttpPath,
							srcArr: rowobj.srcArr
							})" ng-if="rowobj.pdfPath"></i>
							<div ng-show="rowobj.imgShow" ng-style="rowobj.style1">
								<img ng-src="{{rowobj.filePath}}" ng-style="rowobj.style2">
							</div>
							<span class="label goodsType-puhuo1" ng-if="rowobj.book.goodsType === '101'">普货</span>
							<span class="label goodsType-ldc1" ng-if="rowobj.book.goodsType === '102'">锂电池</span>
						</td>
						<td>
							<i ng-if="rowobj.book.deviceId!=='1' && rowobj.book.status==='1'" class="i-yes1"></i>
							<i ng-if="rowobj.book.deviceId!=='1' &&rowobj.book.status==='2'" class="i-no1"></i>
							<span ng-if="!rowobj.book.status && rowobj.book.deviceId!=='1'">待审核</span> <span ng-if="rowobj.book.deviceId==='1'">安检添加</span>
						</td>
						<td>
							<i class="btn-del" ng-click="remove(rowobj, $index)" ng-if="canDel()"></i>
						</td>
					</tr>
				<tr ng-repeat="item in originItems track by $index">
					<td>{{item.type.name}}</td>
					<td>{{item.officeCode.officeName}}</td>
					<td>{{item.bookNo}}</td>
					<td class="imgShow">
						<i class="i-pdf" ng-click="openDialog({
						officeName:item.officeCode.officeName,
						bookNo: item.bookNo,
						src:item.fileHttpPath,
						srcArr: item.srcArr
						})" ng-if="item.fileHttpPath"></i>
						<span class="label goodsType-puhuo1" ng-if="item.goodsType === '101' && item.type.id === 'sharing'">普货</span>
						<span class="label goodsType-ldc1" ng-if="item.goodsType === '102' && item.type.id === 'sharing'">锂电池</span>
						<span class="label goodsType-puhuo" role="button" ng-if="item.type.id !== 'sharing'" ng-model="item.goodsType" ng-click="selectCargo(item, '101')"
						 ng-class="{'goodsType-puhuo1':item.goodsType === '101'}">普货</span>
						<span class="label goodsType-ldc" role="button" ng-if="item.type.id !== 'sharing'" ng-model="item.goodsType" ng-click="selectCargo(item, '102')"
						 ng-class="{'goodsType-ldc1':item.goodsType === '102'}">锂电池</span>
					</td>
					<td>
						<i ng-if="item.book.deviceId!=='1' && item.book.status==='1'" class="i-yes1"></i>
						<i ng-if="item.book.deviceId!=='1' &&item.book.status==='2'" class="i-no1"></i>
						<span ng-if="!item.book.status && item.book.deviceId!=='1'">待审核</span> <span ng-if="item.book.deviceId==='1'">安检添加</span>
					</td>
					<td><i class="btn-del" ng-click="remove2($index)"></i></td>
				</tr>
				<tr ng-if="canSubCertEdit!==true" ng-repeat="item in newItems track by $index">
					<td>{{item.type.name}}</td>
					<td>
						<div ui-select ng-model="item.officeCode" theme="select2" class="form-control" ng-change="onSelectCallback($item, item)">
							<div ui-select-match placeholder="请选择..." allow-clear="true">{{$select.selected.shortName}}</div>
							<div ui-select-choices repeat="item in officeCodeData | filter: $select.search">
								<div ng-bind-html="item.shortName | highlight: $select.search"></div>
							</div>
						</div>
					</td>
					<td>
						<input type="text" ng-model="item.bookNo" class="form-control" ng-change="bookCallback(item)">
					</td>
					<td>
						<div ng-show="!item.fileHttpPath && item.uploadable">
							<button class="btn btn-primary" on-file-uploaded="uploadCallback($response, item)" pl-max-file-size="3mb" pl-upload pl-progress-model="item.progress">上传</button>
							<div progressbar value="item.progress" type="success"><b>{{item.progress}}%</b></div>							
						</div>
						<div ng-show="item.fileHttpPath">
							<i class="i-pdf" ng-click="openDialog({
								src:item.fileHttpPath,
								srcArr: item.srcArr
							})"></i>
							<div class="dib" ng-click="removeFile(item)" ng-if="item.fileHttpPath && item.type.id === 'onetime'">
								<i class="btn-close"></i>
							</div>
							<span class="label goodsType-puhuo1" ng-if="item.goodsType === '101' && item.type.id === 'sharing'">普货</span>
							<span class="label goodsType-ldc1" ng-if="item.goodsType === '102' && item.type.id === 'sharing'">锂电池</span>
							<span class="label goodsType-puhuo" role="button" ng-if="item.type.id !== 'sharing'" ng-model="item.goodsType" ng-click="selectCargo(item, '101')"
							 ng-class="{'goodsType-puhuo1':item.goodsType === '101'}">普货</span>
							<span class="label goodsType-ldc" role="button" ng-if="item.type.id !== 'sharing'" ng-model="item.goodsType" ng-click="selectCargo(item, '102')"
							 ng-class="{'goodsType-ldc1':item.goodsType === '102'}">锂电池</span>
						</div>
					</td>
					<td>
						<i ng-if="item.book.deviceId!=='1' && item.book.status==='1'" class="i-yes1"></i>
						<i ng-if="item.book.deviceId!=='1' &&item.book.status==='2'" class="i-no1"></i>
						<span ng-if="!item.book.status && item.book.deviceId!=='1'">待审核</span> <span ng-if="item.book.deviceId==='1'">安检添加</span>
					</td>
					<td>
						<div class="btn-img" ng-click="removeCert(item, $index)">
							<i class="btn-del"></i>
						</div>
					</td>
				</tr>

				<tr ng-if="canSubCertEdit===true" ng-repeat="item in newItems track by $index">
					<td>{{item.type.name}}</td>
					<td>{{item.officeCode.shortName}}</td>
					<td>{{item.bookNo}}</td>
					<td class="imgShow">
						<i class="i-pdf" ng-click="openDialog({
						officeName:item.officeCode.officeName,
						bookNo: item.bookNo,
						src:item.fileHttpPath,
						srcArr: item.srcArr
						})" ng-if="item.fileHttpPath"></i>
						<span class="label goodsType-puhuo1" ng-if="item.goodsType === '101' && item.type.id === 'sharing'">普货</span>
						<span class="label goodsType-ldc1" ng-if="item.goodsType === '102' && item.type.id === 'sharing'">锂电池</span>
						<span class="label goodsType-puhuo" role="button" ng-if="item.type.id !== 'sharing'" ng-model="item.goodsType" ng-click="selectCargo(item, '101')"
							ng-class="{'goodsType-puhuo1':item.goodsType === '101'}">普货</span>
						<span class="label goodsType-ldc" role="button" ng-if="item.type.id !== 'sharing'" ng-model="item.goodsType" ng-click="selectCargo(item, '102')"
							ng-class="{'goodsType-ldc1':item.goodsType === '102'}">锂电池</span>
					</td>
					<td>
						<i ng-if="item.deviceId!=='1' && item.status==='1'" class="i-yes1"></i>
						<i ng-if="item.deviceId!=='1' &&item.status==='2'" class="i-no1"></i>
						<span ng-if="!item.status && item.deviceId!=='1'">待审核</span> <span ng-if="item.deviceId==='1'">安检添加</span>
					</td>
					<td>
						<div class="btn-img" ng-click="removeMasterCert(item, $index)">
							<i class="btn-del"></i>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="save()" ng-if="itemObj.canEdit || canSubCertEdit">确定</button>
		<button class="btn btn-default" ng-click="cancel()" ng-if="itemObj.canEdit || canSubCertEdit">取消</button>
		<button class="btn btn-default" ng-click="cancel()" ng-if="!itemObj.canEdit && !canSubCertEdit">关闭</button>
	</div>
</div>