<div ng-controller="headCtrl">
  <div ng-include="'head.html'"></div>
</div>
<ol class="bread">
  <li><a role="button" ui-sref="index">首页</a></li>
  <li class="bread-arrow">&gt;</li>
  <li><span>预审</span></li>
  <li class="bread-arrow">&gt;</li>
  <li class="active">运单主账户更换审核</li>
</ol>
<div class="content-main-title">
  <div class="title">运单主账户更换审核</div>
</div>
<div class="content-main-body">
  <div class="content-main-search">
    <div class="row">
      <div class="col-sm-4">
        <div class="search-name">运单号</div>
        <div class="search-value">
          <input type="text" class="form-control" ng-model="auditObj.waybillNo" maxlength="11">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="search-name">原主账户</div>
        <div class="search-value">
          <div ui-select ng-model="auditObj.agentSales" theme="select2" class="form-control wd">
            <div ui-select-match placeholder="请选择..." allow-clear="true">{{$select.selected.code}}</div>
            <div ui-select-choices repeat="item in salesData | filter: {code:$select.search}">
              <div ng-bind-html="item.code | highlight: $select.search"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="search-name">状态</div>
        <div class="search-value">
          <div ui-select ng-model="auditObj.status" theme="select2" class="form-control wd">
            <div ui-select-match placeholder="请选择..." allow-clear="true">{{$select.selected.name}}</div>
            <div ui-select-choices repeat="item in statusData | filter: {name:$select.search}">
              <div ng-bind-html="item.name | highlight: $select.search"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row search-btn">
      <div class="pull-right">
        <button class="btn btn-primary" ng-click="search()">查询</button>
      </div>
    </div>
  </div>
  <table class="table content-main-table">
    <thead>
      <tr>
        <th class="w13">运单号</th>
        <th class="w6">件数</th>
        <th class="w6">重量</th>
        <th class="w6">目的港</th>
        <th class="w7">航班号</th>
        <th class="w10">原主账户</th>
        <th class="w10">新主账户/IATA代码</th>
        <th class="w5">状态</th>
        <th class="w12">申请修改时间</th>
        <th class="w25">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in auditData track by $index" ng-class-even="'even'">
        <td>{{item.pChangeAgentOprnApply.waybillNo}}</td>
        <td>{{item.waybillInfo.rcpNo}}</td>
        <td>{{item.waybillInfo.grossWeight}}</td>
        <td>{{item.waybillInfo.airportDest}}</td>
        <td>{{item.waybillInfo.flightNo}}</td>
        <td>{{item.pChangeAgentOprnApply.oldAgentOprn}}</td>
        <td>{{item.pChangeAgentOprnApply.newAgentOprn}}/{{item.pChangeAgentOprnApply.agentIataCode}}</td>
        <td>{{item.pChangeAgentOprnApply.status | showStatus: statusData}}</td>
        <td>{{item.pChangeAgentOprnApply.createdDate | date : 'yyyy-MM-dd'}}</td>
        <td>
          <div ng-if="code === item.pChangeAgentOprnApply.newAgentOprn && item.pChangeAgentOprnApply.status === '0'">
            <button class="btn btn-primary" ng-click="change(item.pChangeAgentOprnApply, '1')">确认更改</button>
            <button class="btn btn-default" ng-click="change(item.pChangeAgentOprnApply, '2')">退回</button>
            <input type="text" class="form-control dib w50" ng-model="item.pChangeAgentOprnApply.remarks">
          </div>
          <div ng-if="item.pChangeAgentOprnApply.status === '1' || item.pChangeAgentOprnApply.status === '2'">
            {{item.remarks}}
          </div>
          <button class="btn btn-default" ng-if="code === item.pChangeAgentOprnApply.oldAgentOprn && item.pChangeAgentOprnApply.status==='0'" ng-click="cancelApply(item.pChangeAgentOprnApply)">取消申请</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-include="'page.html'" class="row"></div>
</div>