<div class="modal-content">
	<div class="modal-header">
		<div class="modal-title">
			{{title}}
			<div class="modal-close" ng-click="cancel()">
				<i class="i-close"></i>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-10">
				<iframe iframe-onload="iframeCallBack()" ng-src="{{trustSrc(url)}}" frameborder="0" style="width:100%;min-height:500px;border: 1px solid #ddd;">
				</iframe>
			</div>
			<div class="col-sm-2">
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="item in waybillList track by $index" ng-class="{'active': item === activeWaybillItem}" role="button"
					ng-click="showDetail(item)">
					{{item}}
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">关闭</button>
</div>
</div>