<ol class="bread">
  <li><a role="button" ui-sref="index">首页</a></li>
  <li class="bread-arrow">&gt;</li>
  <li><span>系统设置</span></li>
  <li class="bread-arrow">&gt;</li>
  <li><span>机构管理</span></li>
  <li class="bread-arrow">&gt;</li>
  <li class="active">权限方案</li>
</ol>
<div class="content-main-title">
  <div class="title">
    权限方案
  </div>
  <div class="pull-right">
    <button class="btn btn-default" ng-click="add()">
      <i class="i-add"></i>新增权限方案
    </button>
  </div>
</div>
<div class="content-main-body">
  <div class="content-main-search">
    <div class="row">
      <div class="col-sm-4">
        <div class="search-name">名称</div>
        <div class="search-value">
          <input type="text" class="form-control" ng-model="planObj.name">
        </div>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-primary" ng-click="search()">查询</button>
      </div>
    </div>
  </div>
  <table class="table content-main-table">
    <thead>
      <tr>
        <th class="w20">方案名称</th>
        <th class="w30">方案类型</th>
        <th class="w30">描述</th>
        <th class="w20">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in planData track by $index" ng-class-even="'even'">
        <td>{{item.name}}</td>
        <td><span class="label label-primary mr5" style=" font-weight:500" ng-repeat="row in planTypeData" ng-if="row.id==item.type">{{row.name}}</span></td>
        <td>{{item.description}}</td>
        <td>
          <div class="btn-img" ng-click="edit(item)">
            <i class="btn-edit"></i>
          </div>
          <div class="btn-img" ng-click="role(item)">
            <a role="button">角色</a>
          </div>          
          <div class="btn-img" ng-click="remove(item.id, item.name)">
            <i class="btn-del"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-include="'page.html'" class="row"></div>
</div>