<form class="w5c-form form-horizontal" w5c-form-validate novalidate name="validateForm">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">
        修改密码
        <div class="modal-close" ng-click="cancel()">
          <i class="i-close"></i>
        </div>
      </div>
    </div>
    <div class="modal-body modal-body-content">
      <div class="row">
        <div class="modal-body-name">原密码<span class="text-danger">*</span></div>
        <div class="modal-body-value">
          <input type="password" class="form-control" name="oldpassword" required ng-model="passwordObj.oldpassword">
        </div>
      </div>
      <div class="row">
        <div class="modal-body-name">新密码<span class="text-danger">*</span></div>
        <div class="modal-body-value">
          <input type="password" class="form-control" name="newpassword" required ng-minlength="6" ng-model="passwordObj.newpassword">
        </div>
      </div>
      <div class="row">
        <div class="modal-body-name">新密码确认<span class="text-danger">*</span></div>
        <div class="modal-body-value">
          <input type="password" class="form-control" name="repeatPassword" w5c-repeat="newpassword" required ng-minlength="6" ng-model="passwordObj.repeatPassword">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" w5c-form-submit="save()">保存</button>
      <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
  </div>
</form>