<div class="modal-header">
  <div class="modal-title">{{items.title}}
    <div class="modal-close" ng-click="cancel()">
      <i class="i-close"></i>
    </div>
  </div>
</div>
<div class="modal-body">
  <div class="alert alert-warning">
    <span class="glyphicon glyphicon-exclamation-sign"></span> {{items.content}}
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="save()">{{items.btnName1}}</button>
  <button class="btn btn-default" ng-click="cancel()">{{items.btnName2}}</button>
</div>