<form class="w5c-form form-horizontal" w5c-form-validate novalidate name="validateForm">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">
        {{title}}
        <div class="modal-close" ng-click="cancel()">
          <i class="i-close"></i>
        </div>
      </div>
    </div>
    <div class="modal-body modal-body-content">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="modal-body-name">账户名<span class="text-danger">*</span></div>
            <div class="modal-body-value">
              {{userObj.account}}
            </div>
          </div>
          <div class="row">
            <div class="modal-body-name">用户名<span class="text-danger">*</span></div>
            <div class="modal-body-value">
              {{userObj.fullname}}
            </div>
          </div>
          <div class="row">
            <div class="modal-body-name">密码<span class="text-danger">*</span></div>
            <div class="modal-body-value">
              <input type="password" class="form-control" name="password" required ng-model="userObj.password">
            </div>
          </div>
          <div class="row">
            <div class="modal-body-name">再次输入密码<span class="text-danger">*</span></div>
            <div class="modal-body-value">
              <input type="password" class="form-control" name="repeatPassword" w5c-repeat="password" required ng-model="userObj.repeatPassword">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" w5c-form-submit="save()">保存</button>
      <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
  </div>
</form>