<form class="w5c-form form-horizontal" w5c-form-validate novalidate name="validateForm">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">
        {{title}}
        <div class="modal-close" ng-click="cancel()">
          <i class="i-close"></i>
        </div>
      </div>
    </div>
    <div class="modal-body modal-body-content">
      <div class="row">
        <div class="col-sm-7">
          <div class="row">
            <div class="modal-body-name">主账户邀请码<span class="text-danger">*</span></div>
            <div class="modal-body-value" >
              <input type="text" class="form-control" required name="code" required ng-model="applyObj.invitationCode">
            </div>
          </div>
          <div class="row">
            <div class="modal-body-name">描述<span class="text-danger">*</span></div>
            <div class="modal-body-value">
              <textarea rows="3" class="form-control" required ng-model="applyObj.applyDescription"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" w5c-form-submit="submit()">提交</button>
      <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
  </div>
</form>