<ol class="bread">
	<li><a role="button" ui-sref="index">首页</a></li>
	<li class="bread-arrow">&gt;</li>
	<li><span>选项</span></li>
	<li class="bread-arrow">&gt;</li>
	<li class="active">安检分队管理</li>
</ol>
<div class="content-main-title">
	<div class="title">
		安检分队管理
	</div>
	<div class="pull-right">
		<button class="btn btn-default" ng-click="add()">
			<i class="i-add"></i>新增分队
		</button>
	</div>
</div>
<div class="content-main-body">
	<div class="content-main-search">
		<div class="row">
			<div class="col-sm-4">
				<div class="search-name">分队编号</div>
				<div class="search-value">
					<input type="text" class="form-control" ng-model="contingent.unitid">
				</div>
			</div>
			<div class="col-sm-4">
				<div class="search-name">分队名称</div>
				<div class="search-value">
					<input type="text" class="form-control" ng-model="contingent.name">
				</div>
			</div>
			<div class="col-sm-4">
				<div class="search-name">所属货站</div>
				<div class="search-value">
					<div ui-select ng-model="contingent.ctid" theme="select2" class="form-control wd">
						<div ui-select-match placeholder="请选择..." allow-clear="true">{{$select.selected.name}}</div>
						<div ui-select-choices repeat="item in stationData | filter: {name:$select.search}">
							<div ng-bind-html="item.name | highlight: $select.search"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row search-btn">
			<div class="pull-right">
				<button class="btn btn-primary" ng-click="search()">查询</button>
			</div>
		</div>
	</div>
	<table class="table content-main-table">
		<thead>
			<tr>
				<th class="w15">分队编号</th>
				<th class="w15">分队名称</th>
				<th class="w10">所属货站</th>
				<th class="w25">预警邮箱</th>
				<th class="w15">备注</th>
				<th class="w10">状态</th>
				<th class="w10">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in equipmentData track by $index" ng-class-even="'even'">
				<td>
				<a ui-sref="securityOption.detailInfo({id:item.id})">{{item.unitid}}
					</a>
				</td>
				<td>{{item.name}}</td>
				<td>{{item.ctid | showStatus: stationData}}</td>
				<td>{{item.eMail}}</td>
				<td>{{item.remark}}</td>
				<!-- {{item.status | isValid : '6'}} -->
				<td>
					<div class="btn-img" ng-click="ableSatatus(item.id, '1')" ng-if="item.status==='0'">
						<i class="i-sx"></i>
					  </div>
					  <div class="btn-img" ng-click="ableSatatus(item.id, '0')" ng-if="item.status==='1'">
						<i class="i-yx"></i>
					  </div>
				</td>
				<td>
					<div class="btn-img" ng-click="edit(item)">
						<i class="btn-edit"></i>
					</div>
					<div class="btn-img" ng-click="del(item.id, item.name)">
						<i class="btn-del"></i>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-include="'page.html'" class="row"></div>
</div>