<div class="modal-content">
	<div class="modal-header">
		<div class="modal-title">
			{{title}}
			<div class="modal-close" ng-click="cancel()">
				<i class="i-close"></i>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<table class="table content-main-table">
			<thead>
				<tr>
					<th class="w25">电子文档</th>
					<th class="w75">备注</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="rowobj in rows" ng-class-even="'even'">
					<td>
						<i class="i-pdf" ng-click="openDialog(rowobj)" ng-if="rowobj.pdfPath"></i>
					</td>
					<td>{{rowobj.book.bookComment}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="cancel()">关闭</button>
	</div>	
</div>
<div ng-show="loading" class="header">
	<div class="shadow"></div>
</div>